<!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Анкета клиента</title>
<style>

.a{
text-align: middle;
max-width:1100px;
background-color: lightgoldenrodyellow;
margin: 20px auto;
font: 12pt sans-serif;   
padding: 20px;
}

.b{
align: middle;
background: #golden;
width: 100px;
height: 40px;
border: 1px solid #black;
border-radius: 30px;
font: 12pt sans-serif;
font-variant: normal;
}

</style>
</head>
<body>

<div class="a">
<h1 align="center"> Анкета на выбор направления</h1>
<h2 align="center"> Хотите научиться танцевать, но разбегаются глаза при выборе стиля танцев?<br>
 Мы поможем! Пройдите анкету, ответьте на все вопросы, а в конце получите направление танцев, которое больше всего подходит именно Вам!</h2>

{% if mes %}
	<p>{{ mes }}</p>
{% endif %}

<form name="feedback" method="POST" action="/h">

<h3>Как вы начинаете свой день?<br></h3>
<input type="radio" name="starting" value="1">Занимаюсь йогой/медитацией/растяжкой<br>
<input type="radio" name="starting" value="2">Выхожу на пробежку под музыку<br>
<input type="radio" name="starting" value="3">Пролистываю новости в инстаграме<br>
<input type="radio" name="starting" value="4">Готовлю вкусный ленивый завтрак<br>

<br>

<h3>В вашем плейлисте всегда можно найти<br></h3>
<input type="radio" name="music" value="1">Подборку спокойной, плавной музыки<br>
<input type="radio" name="music" value="2">Новые треки Beyonce или треки, максимально наполненные битами<br>
<input type="radio" name="music" value="3">Часто добавляю треки из жанра Хаус<br>
<input type="radio" name="music" value="4">Микс DJ-сетов<br>

<br>

<h3>Ваш гардероб – это<br></h3>
<input type="radio" name="odezhda" value="1">Легкие блузы, комфортная, элегантная, не стесняющая движения одежда<br>
<input type="radio" name="odezhda" value="2">Широкие штаны и свободные футболки<br>
<input type="radio" name="odezhda" value="3">Элегантные костюмы , платья и дизайнерские вещи<br>
<input type="radio" name="odezhda" value="4">Яркие топы, рубашки, выделяющаяся насыщенными красками одежда<br>

<br>

<h3>Что бы вы в большей степени хотите получить от занятий танцами?<br></h3>
<input type="radio" name="wanting" value="1">Прочувствовать, понять себя, выразить свои эмоции и чувства через движение, развить гибкость<br>
<input type="radio" name="wanting" value="2">Обеспечить тело силой, повысить выносливость, развить подвижность всего тела и прочувствовать мощный заряд энергии<br>
<input type="radio" name="wanting" value="3">Уверенность в себе, позинг, модельная походка, грация<br>
<input type="radio" name="wanting" value="4">Раскрепощенно чувствовать себя на любой party, уметь приковать к себе внимание под зажигательные мотив<br>

<br>

<h3>Когда вы танцуете, вам важно?<br></h3>
<input type="radio" name="important" value="1">Прочувствовать эмоции и настроение хореографии<br>
<input type="radio" name="important" value="2">Получить заряд драйва и эмоций<br>
<input type="radio" name="important" value="3">Продемонстрировать себя, свою подачу и грациозность движений<br>
<input type="radio" name="important" value="4">Раствориться в музыке и пространстве, перезагрузиться от тяжелых будней<br>

<br>

<h3>Что насчёт компании для танцев?<br></h3>
<input type="radio" name="company" value="1">Мне хватит и одного партнера, с которым будем одинаково мыслить<br>
<input type="radio" name="company" value="2">Больше предпочитаю команду/компанию единомышленников, но буду и спокойно чувствовать себя наедине<br>
<input type="radio" name="company" value="3">Справлюсь без неё, но к тем, кто танцует так же прекрасно, как и я, с удовольствием присоединюсь<br>
<input type="radio" name="company" value="4">Чем больше народа, тем лучше<br>

<br>

<h3>Хорошо ли вы переносите тяжелую физическую нагрузку?<br></h3>
<input type="radio" name="load" value="1">Более менее спокойно<br>
<input type="radio" name="load" value="2">Ради результата вытерплю всё<br>
<input type="radio" name="load" value="3">Не очень, к чему эти страдания?<br>
<input type="radio" name="load" value="4">Плохо, но ради результата могу постараться<br>

<br>

<input type="submit" name="Vibrat" value="Выбрать" class="b">
<input type="reset" name="Ochistit" value="Очистить" class="b">

</form>

</div>

</body>
</html>