<!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ваш результат</title>
<style>

.a{
text-align: middle;
max-width:1100px;
background-color: lightgoldenrodyellow;
margin: 20px auto;
font: 12pt sans-serif;   
padding: 20px;
}
.b{
align-items:center;
font: 20px georgia;
margin-top: 55px;
margin-bottom: 55px; }
.c{
text-shadow: 1px 1px 2px white, 0 0 1em aquamarine;
color:black;
}
.d{
margin: 30px; /* Отступы вокруг элемента */
padding: 7px; /* Поля вокруг текста */
}
.e{
border: 3px solid #666; /* Параметры рамки */
padding: 10px; /* Поля вокруг текста */
margin: 10px; /* Отступы вокруг */
}
.f{
align: center;
background: lightgoldenrodyellow;
width: 300px;
height: 40px;
border: 1px solid #black;
border-radius: 30px;
font: 12pt sans-serif;
font-variant: normal;
color:black;
}

</style>
</head>
<body>

<div class="a">
	<h2 align="center">Благодарим, что воспользовались нашим сервисом по выбору направления танцев!</h2>
	<h3 align="center">Исходя из ваших ответов на опрос, мы предлагаем Вам выбрать из 2 направлений:</h3>

<div class="b">	
{%if a==1%}
	<p align="center"><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B5%D0%B9%D0%BA-%D0%B4%D0%B0%D0%BD%D1%81"><img src={{url_for('static', filename="4.jpg")}} width="250px" height="250px" hspace=27px></a>
	<a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D0%BF-%D1%85%D0%BE%D0%BF_(%D1%82%D0%B0%D0%BD%D0%B5%D1%86)"><img src={{url_for('static', filename="9.jpg")}} width="250px" height="250px" hspace=27px></a></p>
	<h3 align="center">Ваш стиль — Нip-hop или Popping</h3>
	<p align="center">Вы всегда в тренде и знаете все новинки в хип-хоп музыке. Любите свободу и непосредственность. Хотите управлять своим телом в совершенстве. Если вы ещё не ознакомились с этими стилями, смело записывайтесь в группу для начинающих.</p>
	<ul>
  	<li>Hip-Hop – это смесь невероятной энергии и драйва. Это не просто танец, а целая культура со своей одеждой, привычками, движениями. Самая массовая субкультура, зародившаяся в Нью-Йорке.
В этом направлении соединено множество стилей, что дает огромное пространство для творчества и самовыражения. Но нужно быть готовым к множеству физических нагрузок, так как это один из не самых простых стилей.</li>
  	<br><li>Popping – стиль танца, основанный на технике быстрого сокращения и расслабления мышц, создающий эффект резкого вздрагивания в теле танцора – пап или хит.
 Этот танец называется танцем иллюзий, так как многие его виды создают впечатление нереальности происходящего.</li>
	</ul>
{%endif%}
</div>

<div class="b">
{%if a==2%}
	<p align="center"><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B5%D0%B9%D0%BA-%D0%B4%D0%B0%D0%BD%D1%81"><img src={{url_for('static', filename="8.jpg")}} width="250px" height="250px" hspace=27px></a>
	<a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D0%BF-%D1%85%D0%BE%D0%BF_(%D1%82%D0%B0%D0%BD%D0%B5%D1%86)"><img src={{url_for('static', filename="12.jpg")}} width="250px" height="250px" hspace=27px></a></p>
	<h3 align="center">Вам определенно подойдут Vogue или Waaking</h3>
	<p align="center">Вы знаете свои лучшие ракурсы для фотосессии, любите наряжаться и умеете показать себя с лучших сторон. Если вы хотите раскрепоститься, смело записывайтесь в группу для начинающих.</p>
	<ul>
  	<li>Vogue – эксцентричное, стильное и выразительное направление танца. Отличительные черты: быстрая линейная техника движения
руками, манерная походка, падения, вращения, эмоциональная игра.</li>
  	<br><li>Waaking - это популярный вид уличного танцевального направления, который характеризуется грациозностью и манерностью исполнения. Вакинг покоряет 
сердца только уверенных в себе и ярких людей, способных проявить всю свою пластику и красоту. Присуща женственность, перетекающая в манерность, а также свой определённый стиль, в том числе и в манере одеваться.</li>
	</ul></p>
{%endif%}
</div>

<div class="b">
{%if a==3%}
	<p align="center"><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B5%D0%B9%D0%BA-%D0%B4%D0%B0%D0%BD%D1%81"><img src={{url_for('static', filename="11.jpg")}} width="250px" height="250px" hspace=27px></a>
	<a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D0%BF-%D1%85%D0%BE%D0%BF_(%D1%82%D0%B0%D0%BD%D0%B5%D1%86)"><img src={{url_for('static', filename="14.jpg")}} width="250px" height="250px" hspace=27px></a></p>
	<li>Contemporary – это постоянный диалог с собой, со своими истинными возможностями: это поиск пределов собственной глубины и понимания своего тела и разума. 
Это своего рода медитация, которая развивает навыки импровизации, работы с полом и в пространстве, и одновременно помогает обрести душевное равновесие и
 постоянный творческий поток идей и вдохновения.</li>
  	<br><li>Классическая хореография – это класс, на котором изучают движения из классического балета. Самый настоящий балетный класс для взрослых. Вы приобретете
 плавность, спокойствие, научитесь держать свое тело под контролем и приведете тело в тонус.</li>
	</ul></p>
{%endif%}
</div>

<div class="b">
{%if a==4%}
	<p align="center"><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B5%D0%B9%D0%BA-%D0%B4%D0%B0%D0%BD%D1%81"><img src={{url_for('static', filename="5.jpg")}} width="250px" height="250px" hspace=27px></a>
	<a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D0%BF-%D1%85%D0%BE%D0%BF_(%D1%82%D0%B0%D0%BD%D0%B5%D1%86)"><img src={{url_for('static', filename="13.jpg")}} width="250px" height="250px" hspace=27px></a></p>
	<h3 align="center">Ваш стиль — Dancehall или Jazz-Funk</h3>
	<p align="center">Вы всегда в отличном настроении, а ваша индивидуальность и энергичность не остаются незамеченными. Если готовы заряжаться позитивом и быть в центре внимания на любой вечеринке, смело записывайтесь в группу для начинающих.</p>
	<ul>
  	<li>Dancehall - это танец, зародившийся на улицах Ямайки, является частью культуры и жизни ямайского гетто. Большое внимание уделяется контролю бёдер
 и изучению степов, название которых часто можно услышать в dancehall-треках, и которые отражают их смысл. Его черты: эпатаж, манерность и зрелищность. Движения
 эффектные, но очень женственные.</li>
  	<br><li>Jazz-Funk не требует длительных изнурительных тренировок или безупречной физической подготовки. Он подходит девушкам, которые хотят раскрыть себя
 через женственные танцевальные движения, а также для парней, готовых к экспериментам. Достаточно экспрессивный, эмоциональный, яркий танец</li>
	</ul></p>
{%endif%}
</div>

<div class="d">
<div class="e">
	<h2 align="center" class="c">Как мы и обещали - дарим Вам бесплатный абонемент на одно пробное занятие по каждому направлению нашей студии*</h2>
	<div><font size="-1">*Предложение действует в течение 1 месяца со дня прохождения 1-го пробного занятия</div>
	<div><font size="-1">**Чтобы попасть на пробные занятия необходима предварительная запись по телефону 6-66-66</div>
	<br>
</div>
</div>

	<h3 align="center"><font size="+1">Наши контакты: </h3> 
	<p align="center"><font size="+1">+ 7(999)568-82-71<br>studia.nn@yandex.ru<br><font size="+1">проспект Ленина, 27<br>Нижний Новгород, Россия</p>

<a href="меню проект 1.html" class="f">Главная страница</a>

</div>
</body>
</html>
