<!DOCTYPE html PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Студия танцев</title>
<style>
*div{
max-width:1100px;
max-height:100px;
margin: 0px auto;
}
#grid { 
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 10px;
background:black;
padding:27px;
}
#grid > a {
font-size: 35px;
background:black;
text-align: middle;
color: white;
text-decoration: none;
}



.u{font: 20px georgia;
margin-top: 40px;
 }
.pig{padding: 40px;}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.text{text-align:center;}
.button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 26px;
  font-family: 10px georgia;
  padding: 16px 19px;
  border-radius: 100px;
  color: #fff;
}
.button i {
  margin-right: 4px;
}
.button + .button {
  margin-left: 6px;
}
.button.grey {
  background: #e09951;
}
.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:hover.grey {
  background: #7d512d;
}
.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:active.grey {
  background: #8B4513;
}



.A {  
    padding: 50px;   
}
.B{font: 20px georgia; }
.D{font: 20px georgia; }
.C{font: 18px georgia regular;
color: grey; }
.un{
margin-bottom: 115px; }
 .room { display: flex;
	 text-align:center;/*Выравнивание самого текста по центру*/
	 align-items:center;/*Выравнивание по центру страницы/перпендекуляра сверху*/
         flex-direction:row;
	 justify-content:center;
     }

.ro {  
    padding: 50px; 
    width: 34%; 
    
}




.container1{
font-size:200%;
padding-bottom:30px;
font-family: 18px georgia;
}

.container2{
float:left;
padding-right:30px;
}

.container3{
float:left;
padding-right:30px;
}

.container4{
float:left;
padding-right:30px;
}

.container5{
float:left;
padding-right:30px;
}

.containerP{
max-width: 700px;
margin: 5px auto;
font: 18px georgia;
}

.containerHeader{
margin-bottom: -1px; /* Отступ между заголовком и текстом */
}




.uni{font: 20px georgia;
margin-top: 150px;
margin-bottom: 115px; }

.E {    display: flex;
	justify-content:center;
	margin top:150px; 
 text-align:left;
font: 19px georgia; 
}
.F {  
    display: flex;
	
	 align-items:center;/*Выравнивание по центру страницы/перпендекуляра сверху*/
         flex-direction:row;
	 justify-content:center;
}
.G {  
    display: flex;
	
	 align-items:center;/*Выравнивание по центру страницы/перпендекуляра сверху*/
         flex-direction:row;
	 justify-content:center;
}
.H {  
    display: flex;
	
	 align-items:center;/*Выравнивание по центру страницы/перпендекуляра сверху*/
         flex-direction:row;
	 justify-content:center;
}



</style>

<body>


<div align="center" id="grid">
	<a href="https://www.google.ru/">О студии</a>
	<a href="https://www.google.ru/">Расписание</a>
	<a href="https://www.google.ru/">Цены</a>
	<a href="https://www.google.ru/">Преподаватели</a>
</div>



<div class="u">
<div class="flex">
    <div class="pig"><p><img src={{url_for('static', filename="2.jpg")}} width="629px" height="463px" align="left" ></p></div>
    <div class="text">
        <div><h1 align="center">Бесплатный абонемент<br>на пробные занятия!<br></h1>
        <p>Заполни анкету и получи бесплатный абонемент<br>на пробные занятия по разным направлениям<br>нашей студии.</p></div>
        <div align="center"><a id="register" class="button grey" href="http://127.0.0.1:5000/">
        <span><font size="+2">Заполнить</span></a></div>
    </div>
</div>
</div>


<div class="un">
<div class="room">
	<div class="A"><p><img src={{url_for('static', filename="1.jpg")}} width="561px" height="560px" align="left" vspace="5" hspace="5"></p> </div>
     <div class="ro">
        <div class="B"><h1>О нашей студии</h1></div>
	<div class="C"><p>В чем наш секрет? <br> "Все сделано танцорами для танцоров"</p></div>
	<div class="D"><p>Просторные залы, огромное количество танцевальных направлений, лучшие хореографы города и приятная атмосфера <br>помогут Вам окунуться в мир танцев.</p></div>
      </div>
 </div>
</div>




<div class="containerP"><h1 align="center" class="container1">Почему выбирают нашу студию?</h1>

	<p><img src={{url_for('static', filename="Пуск.jpg")}} width="65" height="65" class="container2">
	<u><h2 class="containerHeader">Победители международных конкурсов</h2></u>
	Наши преподаватели явлются победителями и призерами конкурсов международного, российского и регионального уровня</p>

	<p><img src={{url_for('static', filename="Календарь.jpg")}} width="65" height="65" class="container3">
	<u><h2 class="containerHeader">Индивидуальный подход</h2></u>
	Несмотря на групповую форму обучения работа ведется с каждым учеником индивидуально</p>

	<p><img src={{url_for('static', filename="Подарок.jpg")}} width="65" height="65" class="container4">
	<u><h2 class="containerHeader">Многолетний опыт преподавания</h2></u>
	С огромным удовольствием обучаем всех желающих. Возрастные ограничения - от 3 до 99</p>

	<p><img src={{url_for('static', filename="Пуск.jpg")}} width="65" height="65" class="container5">
	<u><h2 class="containerHeader">Выпускники</h2></u>
	Наша студия выпустила уже более 500 воспитанников</p></div>



<div class="uni">
<div class="E"><h1>В нашей студии представлены следующие<br> направления:</h1></div>
<div class="F">	
	<p><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B5%D0%B9%D0%BA-%D0%B4%D0%B0%D0%BD%D1%81"><img src={{url_for('static', filename="3.jpg")}} width="250px" height="250px" vspace=27px hspace=27px  ></a></p> 
	<p><a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B8%D0%BF-%D1%85%D0%BE%D0%BF_(%D1%82%D0%B0%D0%BD%D0%B5%D1%86)"><img src={{url_for('static', filename="4.jpg")}} width="250px" height="250px" vspace=27px hspace=27px ></a></p> 
	<p><a href="https://var-veka.ru/blog/jazz-funk.html"><img src={{url_for('static', filename="5.jpg")}} width="250px" height="250px" vspace=27px hspace=27px ></a></p>
</div>
<div class="G">	
	<p><a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D1%81%D1%82%D0%BB"><img src={{url_for('static', filename="6.jpg")}} width="250px" height="250px"  hspace=27px ></a></p> 
	<p><a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B5%D0%B9%D0%BA-%D0%B4%D0%B0%D0%BD%D1%81"><img src={{url_for('static', filename="7.jpg")}} width="250px" height="250px"  hspace=27px ></a></p> 
	<p><a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B0%D0%BA%D0%B8%D0%BD%D0%B3"><img src={{url_for('static', filename="8.jpg")}} width="250px" height="250px"   hspace=27px ></a></p>
</div>
<div class="H">	
	<p><a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BF%D0%BF%D0%B8%D0%BD%D0%B3"><img src={{url_for('static', filename="9.jpg")}} width="250px" height="250px"  vspace=27px hspace=27px ></a></p> 
	<p><a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D0%BB%D0%B0%D1%82%D0%B5%D1%81"><img src={{url_for('static', filename="10.jpg")}} width="250px" height="250px"  vspace=27px hspace=27px ></a></p> 
	<p><a href="https://obrmos.ru/do/do_dance/do_dance_class_chor.html"><img src={{url_for('static', filename="11.jpg")}} width="250px" height="250px"   vspace=27px hspace=27px ></a></p>
</div>		
</div>

<h1 align="center"><font face="garamond" size="+3">Наши контакты: </h1> 
<p align="center"><font size="+2">+ 7 999 568-82-71<br>studia.nn@yandex.ru<br><br><font size="+1.5">проспект Ленина, 27<br>Нижний Новгород, Россия</p>
</body>
</html>